<div class="pt20 mb40" id="refresh">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Tip:<strong></h3>
          <div class="mt15" style="width: 100%;">
            <div class="panel panel-default">
              <div class="panel-body">
                <% tip = tips.sample %>
                <h3><%=tip.description%></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Conversation Starters:</strong></h3>
          <div class="mt15" style="width: 100%;">

            <% @articles.each do |title, link| %>
              <ul>
                <li><%= link_to title, link, target: "_blank" %></li>
              </ul>
            <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Title -->
    <div class="row">
      <div class="text-center">
        <div class="mt15" id="save_tip">
          <% if logged_in? && current_user.tips.include?(tip) %>
            <h4><%="Tip already saved"%></h4>
          <% elsif logged_in?%>
            <h4><%= link_to "Save Tip", edit_user_path(current_user, tip_id: tip.id), remote: true, method: :post%></h4>
          <% else %>
              <h4><%= link_to "Log in or Sign up to save tips", new_user_path%></h4>
          <% end %>
        </div>
      </div>
    </div>


</div>
