 <ul id="refresh">
  <div class="" style="width: 100%;">
  <strong>Conversation Starter:</strong>
  <% post_title = content.keys.sample %>
  <% post_url = content[post_title] %>
  <% formatted_title = post_title.gsub(/TIL/, "") %>
  <% formatted_title[0].upcase! %>

  <% if post_url.include?("comments") %>
    <% reddit_post_id = post_url.split('/')[-2] %>
    <% end %>
    <h3><li><%= link_to formatted_title, post_url, target: "_blank" %></li></h3><br>
  </div>

  <div class="mt15" style="width: 100%;">
  <% tip = tips.sample %>
  <strong>Tip:</strong>
  <h3><li><%=tip.description %></li></h3>
    <div class="text-left">
      <div class="mt15" id="save_tip">
        <% if logged_in? && current_user.tips.include?(tip) %>
        <h4><%="Tip already saved"%></h4>
        <% elsif logged_in?%>
          <h4><%= link_to "Save Tip", edit_user_path(current_user, tip_id: tip.id), remote: true, method: :post%></h4>
          <% else %>
            <h4><%= link_to "Log in or Sign up to save tips", new_user_path%></h4>

        <% end %>
      </div>
    </div>
  </div>
  </ul>
