<%= link_to "Back", root_path %>

<h1><%= @theme.name %></h1>

<%= button_to "Refresh Article and Tip", action: "new", remote: true, theme: {id: @theme.id} %>

<div class="container-fluid">
  <ul>
    <strong>Custom Conversation Starter:</strong>
    <% post_title = @content.keys.sample %>
    <% post_url = @content[post_title] %>
    <% formatted_title = post_title.gsub(/TIL/, "") %>
    <% formatted_title[0].upcase! %>

    <% if post_url.include?("comments") %>
      <% reddit_post_id = post_url.split('/')[-2] %>
      <% end %>

    <li><%= link_to formatted_title, post_url, target: "_blank" %></li>
    <% tip = @tips.sample %>
    <strong>Tip:</strong>
    <li><%=tip.description %></li>
  </ul>

  <% if reddit_post_id %>
    <script src='https://redditjs.com/post.js' data-url="<%= reddit_post_id %>" data-height='390' data-width='500' data-post-finder='mostComments' data-theme='light' data-show-submit='true'></script>
    <% end %>

</div>
