<%= link_to "Back", root_path %>

<h1><%= @theme.name %></h1>

<%= button_to "Refresh Article and Tip", action: "new", remote: true, theme: {id: @theme.id} %>

<div class="container-fluid">
  <ul>
    <strong>Custom Conversation Starter:</strong>
    <% post_title = @content.keys.sample %>
    <% post_url = @content[post_title] %>
    <% formatted_title = post_title.gsub(/TIL/, "") %>
    <% formatted_title[0].upcase! %>

    <% if post_url.include?("comments") %>
      <% reddit_post_id = post_url.split('/')[-2] %>
      <% end %>

    <li><%= link_to formatted_title, post_url, target: "_blank" %></li>
    <% tip = @tips.sample %>
    <strong>Tip:</strong>
    <li><%=tip.description %></li>
    <%= button_to %>
  </ul>

</div>

<div id="container">
  <a class="twitter-timeline" height="300px" href="https://twitter.com/smallTalkToMe" data-widget-id="694906938132406272">Tweets by @smallTalkToMe</a>
  <script>
    !function(d,s,id){
      var js,fjs = d.getElementsByTagName(s)[0],
      p=/^http:/.test(d.location)?'http':'https';
      if(!d.getElementById(id)){js=d.createElement(s);
        js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
    }
    (document,"script","twitter-wjs");
  </script>
</div>
