
<%= form_for (@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div style = "width: 250px">
    <!-- <%= f.label :name %><br> -->
    <!-- <%=f.text_field :name, class: 'form-control', autofocus: true, placeholder: 'First Name'%><br> -->
    <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: "Your Name"%><br>
      </div>
  </div>

  <div class="email">
    <div style="width: 250px">
    <!-- <%= f.label :email %>
    <%= f.text_field :email %> -->
    <%= f.text_field :email, class: 'form-control', autofocus: true, placeholder: "email"%><br>
      </div>
  </div>


  <div class="password">
    <div style="width: 250px">
    <!-- <%= f.label :password %> -->
  <!-- <%= f.password_field :password %> -->
    <%= f.password_field :password, class: 'form-control', autofocus: true, placeholder: "Make between 8-15 characters"%><br>

      </div>
  </div>

  <div class="">
    <div style="width: 250px">
    <!-- <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %> -->
    <%= f.password_field :password, class: 'form-control', autofocus: true, placeholder: "Please confirm"%><br>
      </div>
  </div>

  <div class="terms">
    By signing up you are agreeing to our <a href="/terms">Terms and Conditions</a>
  </div>

  <div class="actions">
      <%= f.submit "Sign Up",  class: "btn btn-primary", style: "width: 300px" %>
  </div>
<% end %>


<!-- <p align="right">
  Its
  always
  time
  for
  some
  small
  talk</p> -->
