<div class="header">
	<div class="container">
		<div class="row">
			<!-- Page Title -->
			<div class="col-sm-6 col-xs-12">
				<div class="text-center">
				<p><h2>Welcome <%="#{current_user.name}"%></p></h2>
			</div>
			</div>

			<!-- Breadcrumbs -->
			<div class="col-sm-6">
				<ol class="breadcrumb">

				</ol>
			</div><!-- /column -->
		</div><!-- /row -->
	</div><!-- /container -->
</div>

<div class="">
	<% if current_user.tips.length == 0 %>
	<h4><div class="text-center">
		Save some tips to view them here!
		<%= link_to "View a random tip", '../themes/10' %>
	</div></h4>

	<% end %>

		<% current_user.tips.each do |tip| %>

			<p><div class="fa-2x <%=tip.id%>"><%= tip.description %></div></p>
			<div class="button <%=tip.id%>">
				<%=link_to "Remove tip", delete_tip_path(current_user, tip_id: tip.id), method: :post, remote: true%>
				<%#= button_to "Remove tip", remote: true, params: {id: tip.id} %>
			</div>
		<% end %>

</div>
