
<!-- Begin Top Bar -->
<div class="top-bar">
  <div class="container-header">
    <div class="row top-bar-row">
      <!-- Address and Phone -->
      <div class="col-sm-6 text-left topmenu-holder">
        <a href="<%= root_path %>" style="float: left; width: auto;">
            <%= image_tag 'logo.png', alt: 'smalltalktome' %>
         </a>
      </div>
      <!-- <div class="col-sm-7 hidden-xs contact-info">
        <span class="ion-android-system-home home-icon"></span>Bright Passage, Fond du Lac, 63138 USA<span class="ion-ios7-telephone phone-icon"></span>1702983921
      </div> -->
      <!-- Social Buttons -->
      <div class="col-sm-6 text-right topmenu-holder">
        <ul class="topbar-list list-inline">
          <% if logged_in? -%>
            <li>  Current user is: <%= current_user.name  %></li>
            <li><%= link_to "Log Out", sessions_path, method: :delete %></li>
            <li><%= link_to "Your page", user_path(current_user) %></li>
          <% else -%>
            <li><a href="/auth/facebook">Log In With Facebook</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
          <% end -%>
          <li>
            <a class="btn btn-social-icon btn-rw btn-primary btn-xs"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div><!--/row -->
  </div><!--/container header -->
</div><!--/top bar -->
<!-- End Top Bar -->

<!-- Login -->
    <!-- MODAL LOGIN GOES HERE-->
<!-- End Login -->

<!-- Begin Navigation -->
    <!-- TO ADD NAVBAR UNCOMMENT and erb LINE BELOW !!!!!!-->
    <!-- render "layout/navbar"  -->
<!-- End Navigation -->
