<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="signupLabel">Sign Up</h4>
            </div>
            <div class="modal-body">
              <%= form_for @user, url: 'users#create' do |f| %>
              <div class="form-group name">
                <%= f.label :name, 'Name' %>
                <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: "Your Name"%><br>
            </div>

                <div class="form-group email">
                  <%= f.label :email, 'Email: ' %>
                  <%= f.text_field :email, class: 'form-control', autofocus: true, placeholder: "Email"%><br>
                </div>
                <div class="form-group password">
                  <%= f.label :password, 'Password: ' %>
                  <%= f.password_field :password, class: 'form-control', autofocus: true, placeholder: "Must be 8-15 characters"%><br>
                </div>
                <div class="form-group password">
                  <%= f.label :password, 'Confirm Password: ' %>
                  <%= f.password_field :password, class: 'form-control', autofocus: true, placeholder: "Confirm Password"%><br>
                </div>
            </div>
            By creating an account, you are agreeing with our <a href="/terms">Terms and Conditions</a>
                <div class="actions">
                    <%= f.submit "Sign Up",  class: "btn btn-primary", style: "width: 300px" %>
                </div>
            <% end %><!-- /form -->
        </div><!-- /modal content -->
    </div><!-- /modal dialog -->
</div>
