<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<%= stylesheet_link_tag 'application', media: 'all' %>

	<title>Small Talk</title>
	<%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<%= favicon_link_tag('favicon.ico') %>
	<%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>
	<%= favicon_link_tag 'favicon-1-144-240544.png', rel: 'apple-touch-icon', type: 'apple-touch-icon', sizes: '144x144' %>
	<%= favicon_link_tag 'favicon-114-240544.png', rel: 'apple-touch-icon', type: 'apple-touch-icon', sizes: '114x114' %>
	<%= favicon_link_tag 'favicon-72-240544.png', rel: 'apple-touch-icon', type: 'apple-touch-icon', sizes: '72x72' %>
	<%= favicon_link_tag 'favicon-57-240544.png', rel: 'apple-touch-icon', type: 'apple-touch-icon' %>


</head>
<body class="royal_preloader scrollreveal">
	<div id="royal_preloader"></div>

	<!-- Begin Boxed or Fullwidth Layout -->
	<div>

		<% if flash[:error] %>
	    <div>Error: <%= flash[:error] %></div>
	  <% end %>

	  <% if flash[:notice] %>
	    <div><%= flash[:notice] %></div>
	  <% end %>

	</div>

	<div id="bg-boxed">
	    <div class="boxed">
	    <!-- Begin Header -->
	    <header>
				<%= render "layouts/header" %>
			</header>

			<%= yield %>

			<!-- Begin Footer -->
			<footer class="footer">
				<%= render "layouts/footer" %>
			</footer><!-- /footer -->
			<!-- End Footer -->

		</div><!-- /boxed -->
	</div><!-- /bg boxed-->
	<!-- End Boxed or Fullwidth Layout -->

	<!-- Javascript Files -->
	<%= javascript_include_tag 'application' %>

</body>
</html>
