<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

	<title>Small Talk</title>
	<%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">


</head>
<body class="royal_preloader scrollreveal">
	<div id="royal_preloader"></div>

	<!-- Begin Boxed or Fullwidth Layout -->
	<div id="bg-boxed">
	    <div class="boxed">
	    <!-- Begin Header -->
	    <header>
				<%= render "layouts/header" %>
			</header>

			<%= yield %>

			<!-- Begin Footer -->
			<footer class="footer">
				<%= render "layouts/footer" %>
			</footer><!-- /footer -->
			<!-- End Footer -->

		</div><!-- /boxed -->
	</div><!-- /bg boxed-->
	<!-- End Boxed or Fullwidth Layout -->

	<!-- Javascript Files -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
